<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add products</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/add-products">Add products</a></li>
                <li><a href="/">Shop</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>
            product list 
        </h1>
        <li> list of product to be added here ..</li>
    </main>
    
</body>
</html>